.navbar-option
    visibility: visible

.btn-main
    height: 40px
    font-size: 20px
    margin-left: 4px
    margin-right: 20px
    border-radius: 4px
    padding-left: 6px
    padding-right: 6px

.btn-menu
    height: 34px
    border: solid 0px
    font-size: 18px
    padding-left: 8px
    padding-right: 8px

.btn-login
    border: solid 1px
    font-size: 15px
    background-color: #a51b0b
    color: #ff9e81
    &:hover
        background-color: #ff0000
        color: white
