.page-login
    width: 100%
    max-width: 330px
    border: 2px
    padding: 10px
    margin: auto
    border-style: inset

.form-control
    position: relative
    box-sizing: border-box
    height: auto
    font-size: 14px
    
    &:focus
        z-index: 2

input[type="username"]
    margin-bottom: 0px

input[type="password"]
    margin-bottom: 0px
