<!-- src/app/home/home.component.html -->
<div class="container py-5 bg-light ">

  <!-- Grid y tarjeta -->
  <div class="row labelText">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-header bg-white">
          <h5 class="mb-0">Registro</h5>
        </div>
        <div class="card-body bodyTest">
          <form>
            <div class="mb-3 bg-red-700">
              <label for="nombre" class="form-label">Nombres</label>
              <input id="nombre" type="text" class="form-control" placeholder="Tu nombre">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo</label>
              <input id="email" type="email" class="form-control" placeholder="tú@ejemplo.com">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>

</div>


<div class="container py-3">
  <h3 class="mb-3">Mi Lista de Productos</h3>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let user of users; let i = index">
      00{{ user.id }} - {{ user.name }}
      <span class="badge bg-primary rounded-pill">{{ i + 1 }}</span>
    </li>
  </ul>
</div>
