<div class="principal">
    <br>
  
    <h1 class="title">Bienvenidos, {{ projectName }}</h1>
  
    <p class="description">
      Contamos con la semántica para todo lo que nos rodea. Nos basamos en experiencias previas para conocer la función de
      cada objeto cotidiano; cuando miramos un objeto, sabemos cuál debe ser su función. Entonces, por ejemplo, esperamos
      que un semáforo en rojo signifique "alto" y que un semáforo en verde signifique "avance". Las cosas se pueden
      complicar muy rápidamente si se aplica la semántica incorrecta. (¿Algún país usa rojo para significar "avance"?
      Esperemos que no).
    </p>
  
    <button type="button" class= "btn btn-agregar" (click) ="mostrandoMensaje('Mi prueba')" > 
      Agregar 
    </button>
    <button type="button" class= "btn btn-agregar" (click) ="mostrandoMensaje('Mi prueba')" > 
      Editar 
    </button>
    <button type="button" class= "btn btn-agregar" (click) ="mostrandoMensaje('Mi prueba')" > 
      Eliminar 
    </button>
  
    <div>
      <img src="/assets/img/scrum.png" alt="Scrum" class="image">
      <img src="/assets/img/linux.png" alt="Linux" class="image">
    </div>
  
  </div>